<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.DeviceInfo" version="3.2.3" targetFramework="xamarinios10" />
  <package id="ExifLib.PCL" version="1.0.1" targetFramework="xamarinios10" />
  <package id="Plugin.Share" version="5.0.0" targetFramework="xamarinios10" />
  <package id="sqlite-net-pcl" version="1.1.1" targetFramework="xamarinios10" />
  <package id="SQLitePCL.raw" version="0.8.6" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Connectivity" version="2.2.12" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.FilePicker" version="1.1.0" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Media" version="2.6.1" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Forms.ImageCircle" version="1.6.1" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Messaging" version="3.2.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.3.4.231" targetFramework="xamarinios10" />
  <package id="XLabs.Core" version="2.0.5782" targetFramework="xamarinios10" />
  <package id="XLabs.Forms" version="2.0.5782" targetFramework="xamarinios10" />
  <package id="XLabs.IoC" version="2.0.5782" targetFramework="xamarinios10" />
  <package id="XLabs.Platform" version="2.0.5782" targetFramework="xamarinios10" />
  <package id="XLabs.Serialization" version="2.0.5782" targetFramework="xamarinios10" />
</packages>